<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>ASAP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

    {% block stylesheets %}
        {% stylesheets
        'vendor/bootstrap/bootstrap.css'
        'vendor/ng-table/ng-table.min.css'
        'vendor/app-utils/utils.min.css'
        'vendor/app-notify/notify.min.css'
        'vendor/app-translate/translate.min.css'
        'vendor/app-spinner/spinner.min.css'
        'vendor/app-datepicker/datepicker.min.css'
        'bundles/clientpublic/assets/css/AdminLTE.css'
        'bundles/clientpublic/assets/css/all_skins.css'
        'bundles/clientpublic/assets/css/dashboard.css'
        'bundles/clientpublic/assets/css/style.css'
        'bundles/clientpublic/assets/css/font-awesome-4.7.0/css/font-awesome.min.css'
        filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


    <!-- SCRIPTS HACK IE -->
    <!--[if lt IE 9]>
    <script src="vendor/base/html5shiv.min.js"></script>
    <script src="vendor/base/respond.min.js"></script>
    <script>
        document.createElement('app-snap');
        document.createElement('accordion');
        document.createElement('accordion-group');
        document.createElement('accordion-heading');
        document.createElement('app-nav-menu');
        document.createElement('app-picklist');
        document.createElement('app-contador');
        document.createElement('app-usuario-info');
        document.createElement('app-identificador-ambiente');
        document.createElement('app-alert');
        document.createElement('timer');
        document.createElement('app-spinner');
        document.createElement('app-datepicker');
    </script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/clientpublic/assets/images/favicon.png') }}"/>

</head>
{% verbatim %}
<body id="content" ng-class="{'login-page': !usuarioAutenticado, 'skin-blue fixed sidebar-mini' : usuarioAutenticado}" class="nojs ng-cloak hold-transition" ng-cloak>
<!--Pre Load -->
<div app-spinner></div>

<div class="wrapper" ng-controller="aplicacaoController as appCtrl">
    <div ng-if="!usuarioAutenticado">
        <div ui-view></div>
    </div>

    <div ng-if="usuarioAutenticado">
        <header class="main-header">
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><i class="fa fa-commenting"></i></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><i class="fa fa-commenting"></i> <b>ASAP</b></span>
            </a>

            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- start message -->
                                            <a>
                                                <div class="pull-left">
                                                    <img src="assets/images/user2-160x160.jpg" class="img-circle"
                                                         alt="User Image">
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                        <li>
                                            <a>
                                                <div class="pull-left">
                                                    <img src="assets/images/user3-128x128.jpg" class="img-circle"
                                                         alt="User Image">
                                                </div>
                                                <h4>
                                                    AdminLTE Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="pull-left">
                                                    <img src="assets/images/user4-128x128.jpg" class="img-circle"
                                                         alt="User Image">
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="pull-left">
                                                    <img src="assets/images/user3-128x128.jpg" class="img-circle"
                                                         alt="User Image">
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <div class="pull-left">
                                                    <img src="assets/images/user4-128x128.jpg" class="img-circle"
                                                         alt="User Image">
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a>See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a>
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <i class="fa fa-warning text-yellow"></i> Very long description here
                                                that
                                                may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a>View all</a></li>
                            </ul>
                        </li>

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <img src="assets/images/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Alexander Pierce</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">

                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a>Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a>Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a>Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-flat" ng-click="appCtrl.logout()">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>

        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <app-nav-menu menu-data="appMenu"></app-nav-menu>
            </section>
        </aside>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">

                <div app-breadcrumb></div>
                <app-alert></app-alert>
            </section>

            <!-- Main content -->
            <section class="content" ui-view>
            </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="#">plataforma ASAP</a>.</strong>
        </footer>
    </div>
</div>
{% endverbatim %}
<script data-main="{{ asset('bundles/clientpublic/app/main.js?' ~ ("now"|date('YmdHis'))) }}"
        src="{{ asset('vendor/requirejs/require.min.js') }}"
        type="text/javascript"></script>

<script src="{{ asset('bundles/clientpublic/assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/clientpublic/assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/clientpublic/assets/js/adminlte.min.js') }}"></script>

</body>
</html>
